<!DOCTYPE html>
<html>
<head>
  <title>Détails du client</title>
</head>
<body>
  <h1>Détails du client</h1>
  <p>ID du client : <%= client.id %></p>
  <p>Nom : <%= client.nom %></p>
  <p>Prénom : <%= client.prenom %></p>
  <p>Téléphone : <%= client.telephone %></p>
</body>
</html>
